/.venv
/.vscode

# Python bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

#Notebooks

/notebooks

#Temp files
/pinn_waveguide_2d/predictions/
/pinn_waveguide_2d/data/

/pinn_waveguide_2d/cache/

/*.md

/val_fem/